<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<h1 id="tableLabel">Library travel</h1>
<p *ngIf="!Books"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="Books">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Editorial</th>
      <th>Titulo</th>
      <th>Sinopsis</th>
      <th>Paginas</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of Books.response">
      <td>{{ book.isbn }}</td>
      <td>{{ book.editorial }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.sinopsis }}</td>
      <td>{{ book.pages }}</td>
      <td><button type="button" class="btn btn-success" (click)="GetBook(book.isbn)">Detalles</button></td>
    </tr>
  </tbody>
</table>
<div class="popup-book" *ngIf="popup">
  <button type="button" class="btn btn-danger btnclose" (click)="ClosePopUp()">X</button>
  <div class="subpopup-book">
    <label>ISBN: <span>{{Book.response.isbn}}</span></label>
    <br />
    <label>Editorial: <span>{{Book.response.editorial}}</span></label>
    <br />
    <label>Titulo: <span>{{Book.response.title}}</span></label>
    <br />
    <label>Sinopsis: <span>{{Book.response.sinopsis}}</span></label>
    <br />
    <label>Paginas: <span>{{Book.response.pages}}</span></label>
  </div>
</div>
