.popup-book
{
  top:35%;
  left:75%;
  width:250px;
  height:250px;
  z-index:2;
  position:absolute;
  background-color:lightgray;
  border-radius:5px;
  font-style:initial;
  font-size:11px;
}

.subpopup-book
{
  width:80%;
  height:80%;
  position:relative;
  margin-left:10px;
}

.btnclose
{
  margin-left:213px;
  cursor:pointer;
}

.lblbook
{
    margin-left:5px;
}
