<p>autenticate works!</p>
<div>
  <label>Usuario:</label><input type="text" [(ngModel)]="email" />
  <br />
  <label>Usuario:</label><input type="text" [(ngModel)]="password" />
  <br />
  <button (click)="GetUser()">Log In</button>
</div>
